</div><!-- /.container -->
</div>
<footer class="footer" id="footer">
    <div class="container text-center">
        <p class="text-center mt-3"><a class="footer-text" href="/listings">&copy; realed</a> - 2019</p>
        <!-- <p class="text-muted">&copy; realed estate 2019 | <a href="/listings">Home</a> | <a href="/listings/new">New Campground</a></p> -->
    </div>
</footer>

<!-- Bootstrap and its dependencies -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
</body>

</html>