<% include ./partials/header %>

<div class="row text-center vertical-center">
    <div class="col-md-12">
        <form class="form-signin" action="/login" method="POST">
            <!-- <img class="mb-4" src="https://res.cloudinary.com/dfesdiu1m/image/upload/v1555108693/logo.png" alt="" width="68.8" height="118.2"> -->
            <img class="mb-4" src="https://res.cloudinary.com/dfesdiu1m/image/upload/v1555108699/logo_sada.png" alt=""
                width="68.8" height="75.8">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required
                autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                required>
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
        </form>
        <a class="text-muted " href="/forgot">Forgot Your Password?</a>
    </div>
</div>

<% include ./partials/footer %>