<% include ../partials/header %>

<div class="row text-center vertical-center">
    <div class="col-md-12">
        <form class="form-signin " action="/campgrounds" method="POST" enctype="multipart/form-data">
            <img class="mb-4" src="https://res.cloudinary.com/dfesdiu1m/image/upload/v1555108699/logo_sada.png" alt=""
                width="68.8" height="75.8">
            <h1 class="h3 mb-3 font-weight-normal">Add a New Property</h1>

            <label for="location" class="sr-only">Name</label>
            <input type="text" class="form-control" name="campground[name]" placeholder="Name">

            <label for="location" class="sr-only">Cost</label>
            <input type="number" class="form-control" name="campground[cost]" placeholder="Cost" step="0.01" min="0"
                required>

            <label for="location" class="sr-only">Location</label>
            <input type="text" class="form-control" name="campground[location]" id="location" placeholder="Location">

            <div class=" row">
                <div class="col-sm-6 pr-0 rooms">
                    <label for="location" class="sr-only">Rooms</label>
                    <input type="number" class="form-control form-inline" name="campground[rooms]" placeholder="Rooms"
                        step="1" min="0" required>
                </div>
                <div class="col-sm-6 pl-0 baths">
                    <label for="location" class="sr-only">Bathrooms</label>
                    <input type="number" class="form-control form-inline" name="campground[baths]"
                        placeholder="Bathrooms" step="0.5" min="0" required>
                </div>
            </div>

            <label for="location" class="sr-only">Meters</label>
            <input type="number" class="form-control" name="campground[meters]" placeholder="Meters Squared" step="1"
                min="0" required>

            <label for="location" class="sr-only">Description</label>
            <input type="text" class="form-control mb-2" name="campground[description]"
                placeholder="Tell us more about your property...">

            <!-- <label for="image" id="text-left">Add Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required> -->

            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Image
            </label>
            <input id="file-upload" type="file" id="image" name="image" accept="image/*" required />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Property</button>
        </form>
        <a class="text-muted" href="/campgrounds">Go Back</a>
    </div>
</div>


<% include ../partials/footer %>